
Antros/SourceGeneration/GameSourceGeneration/GameSourceGeneration/bin/

Antros/SourceGeneration/GameSourceGeneration/GameSourceGeneration/obj/

Antros/SourceGeneration/GameSourceGeneration/GameSourceGeneration.Sample/bin/

Antros/SourceGeneration/GameSourceGeneration/GameSourceGeneration.Sample/obj/

Antros/SourceGeneration/GameSourceGeneration/GameSourceGeneration.Tests/bin/Debug/

Antros/SourceGeneration/GameSourceGeneration/GameSourceGeneration.Tests/bin/

Antros/SourceGeneration/GameSourceGeneration/GameSourceGeneration.Tests/obj/

Antros/SourceGeneration/DataMappingGeneration/DataMappingGeneration/obj/

Antros/SourceGeneration/DataMappingGeneration/DataMappingGeneration/bin/

Antros/Assets/_Recovery/

Antros/UMotionData/AutoBackups/

Antros/UMotionData/Temp/

Antros/Assets/Extensions/UMotionEditor/Data/
